<h1>Listing bars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%=h bar.name %></td>
    <td><%=h bar.address %></td>
  </tr>
<% end %>
</table>
