<style>
  #bar-details {
    margin-bottom: 20px;
  }

  .special {
    margin-left: 25px;
    float: right;
  }

  .special-detail {
    margin-bottom: 40px;
  }

  .day {
    margin-right: 25px;
  }

</style>
<div id="bar-details">
  <div class="bar-name">
    <%=h @bar.name %>
  </div>
  <div class="address">
    <%=h @bar.address %>
  </div>
</div>

<% 
  @bar.daily_specials.each do |special| %>
    <div class="special-detail">
      <span class="special"><%=  special.content %></span>
      <span class="day"><%= special.day %></span>
    </div>
  <% end %>
