html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    width: 1000px;
    margin: auto;
    background-color: white;
    clear: both;
    min-height: 100%;
    position: relative;
}

#user-nav a:link, #user-nav a:visited {
  text-decoration: none;
  font-size: 22px;
  margin-left: 10px;
  color: #003399;
}

#header {
  width: 1000px;
  margin: auto;
}

#logo {
  float: left;
  background-image: url("../images/logo.png");
  height: 150px;
  width: 125px;
  background-repeat: no-repeat;
}

#user-nav {
  margin-top: 30px;
  float: right;
  font-size: 16px;
}

#notice {
  color: green;
  text-align: center;
  width: 500px;
}

.warning {
  color: red;
  text-align: center;
  width: 500px;
}
