html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    width: 1000px;
    margin: auto;
    background-color: white;
    clear: both;
    min-height: 100%;
    position: relative;
}

#user-nav a:link, #user-nav a:visited {
  text-decoration: none;
  font-size: 22px;
  margin-left: 10px;
  color: #003399;
}

#header {
  width: 1000px;
  margin: auto;
}

#logo {
  float: left;
  background-image: url("../images/logo.png");
  height: 150px;
  width: 275px;
  background-repeat: no-repeat;
}

#features {
  color: orange;
  font-size: 16px;
  padding-left: 160px;
  font-weight: bold;
  border-style: none;
}

.info-message {
  font-size: 20px;
  color: #4E4848;
}

.info-message a:link, .info-message a:visited {
  color: #4E4848;
  font-size: 28px;
}

#user-nav {
  margin-top: 30px;
  float: right;
  font-size: 16px;
}

#port-tab, #mainset, .summary, .summary-alt {
    margin: auto;
    padding: 0; 
    background-color: #EBEFF1;
    border-style: none;
    width: 900px;
    margin-bottom: 20px;
}

#port-tab ol li{
  display: inline;
  margin-left: 100px;
  margin-right: 100px;
}

.error {
  color: red;
  font-size: 12px;
}

.summary-heading {
  font-style: italic;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.summary-alt {
    background-color: #E3ECF1;
    border-color: #E3ECF1;
}


#mainset ol {  
    padding: 1em 1em 0 1em;  
    list-style: none; 
} 

#mainset li {
    padding-bottom: 1em; 
    list-style: none; 
} 

.summary li, .summary-alt li {
    padding-bottom: 2px; 
    list-style: none; 
    padding-left: 10px;
} 

.stitle {
    font-weight: bold; 
    float: left;
    width: 200px;
}

.datelabel {
  float: right;
}

.stdlabel {
  float: left;
  width: 10em;  
  margin-right: 1em; 
  text-align: right;
  color: #333333;
}

.stdtextbox {
  height: 32px;
  font-size: 18px;
}

.ports-to-calc {
  padding-left: 200px;
}

.seperator {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row {
  width: 865;
}

.time-info-text-date {
  width: 75px;
  margin-right: 5px;
  margin-left: 10px;
}

.time-info-text-time {
  width: 50px;
  margin-right: 5px;
}

.ttc {
  width: 130px;
  margin-right: 5px;
}

.pct {
  width: 50px;
  margin-right: 5px;
}

.rem {
  width: 200px;
}

#submit {
    width: 800px;
    margin: auto;
}

.submit {
    float: right;
}

#fact-table-loading, #fact-table-discharging
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fact-table-loading {
    border-color: #68B2C0;
}


#fact-table-loading thead tr {
    background-color: #68B2C0;
}

#fact-table-discharging {
    border-color: #85B0BC;
}

#fact-table-discharging thead tr {
    background-color: #85B0BC;
}

#fact-table-loading thead tr, #fact-table-discharging thead tr {
	font-size: 14px;
	font-weight: normal;
    border-bottom: solid
    border-width: 5px;
}

#fact-table-loading th, #fact-table-discharging th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
}

#fact-table-loading td, #fact-table-discharging td
{
	padding: 8px;
}

#running-info 
{
    width: 600px;
    height: 50px;
}

#running-time 
{
  width: 400px;;
  float: left;
}

#running-dem-des 
{
    width: 200px;
    float: right;
}

.day {
    width: 30px;
}

.cancel, .insert {
  margin-right: 5px;
  margin-left: 5px;
}

#notice {
  color: green;
  text-align: center;
  width: 500px;
}

.warning {
  color: red;
  text-align: center;
  width: 500px;
}
