html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    width: 900px;
    margin: auto;
    background-color: white;
    clear: both;
    min-height: 100%;
    position: relative;
}

#user-nav a:link, #user-nav a:visited {
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
  color: #003389;
  font-family: cursive;
}

#header {
  width: 900px;
  margin: auto;
}

#logo {
  float: left;
  background-image: url("../images/logo2.png");
  height: 170px;
  width: 145px;
  background-repeat: no-repeat;
}

#user-nav {
  margin-top: 30px;
  float: right;
}

.heading {
  font-family: cursive;
  font-size: 20px;
  margin-bottom: 10px;
}

.vertical-list a:link, .vertical-list a:visited {
  text-decoration: none;
  color: #003389;
}

.vertical-list {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #003389;
  margin-left: 10px;
}

#notice {
  color: green;
  text-align: center;
  width: 500px;
}

.warning {
  color: red;
  text-align: center;
  width: 500px;
}
