<div id="days">
  <% for day in Date::DAYNAMES %>
    <div class="day">
    <%= link_to day, day %>
    </div>
  <% end %>
</div>
<div id="barlist">
<% @specials.each do |special| %>
  <div class="special">
  <%= special %>
  </div>
<% end %>
</div>
