<div id="days">
  <% 
    for day in Date::DAYNAMES %>
    <div class="day">
      <%= link_to day, :controller => "specials", :action => "day", :id => day.downcase %>
    </div>
  <% end %>
</div>
<div id="ranklist">
<% @specials.each do |special| %>
  <div class="special">
    <div class="special-name"> <%= special.content %></div>
    <div class="rank"> <%= link_to_remote 'U', :url => {:controller => "specials", :action => "upvote", :id => special.id} %></div> 
    <div class="specials-meta-info">
      <%= link_to special.bar.name, { :controller => "bars", :action => "show", :id => special.bar_id}, :class => "tag-link" %>
    </div>
  </div>
<% end %>
</div>
