<% if @specials %>
<div class="heading">Daily specials</div>
  <% @specials.each do |special| %>
      <li class="vertical-list"><%= link_to special.keyword, edit_special_path(special) %></li>
  <% end %>
<br />
<br />
<br />
<br />
<%= link_to 'Create New special', new_special_path %>
<% else %>
  
<% end %>
