<div id="ranklist">
<% @specials.each do |special| %>
  <div class="special">
    <div class="special-name"> <%= special.day_special %></div>
    <div class="specials-meta-info">
      <%= link_to special.name, { :controller => "bars", :action => "show", :id => special.bar_id}, :class => "tag-link" %>
    </div>
  </div>
<% end %>
</div>
