<div class="heading">Editing Daily specials</div>

<%= render :partial => 'special' %>
<%= link_to 'Remove', @special, :confirm => 'Are you sure you want to remove this special?', :method => :delete %>
<%= link_to 'Back', root_url %>
