<h1>Listing specials</h1>

<table>
  <tr>
    <th>Keyword</th>
  </tr>

<% @specials.each do |special| %>
  <tr>
    <td><%= link_to special.keyword, edit_special_path(special) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New special', new_special_path %>
